@model TestMvcAdminApp.Models.RolesForUserDTO

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Assign Roles";
}

<h2>Assign Roles to <i>@Model.FirstName @Model.LastName</i> </h2>
<div class="row">
        <div class="col-md-6 col-12">
            @using (Html.BeginForm("EditRolesOfUser", "UserDetails", FormMethod.Post)) {
                <table class="table table-responsive table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th style="width:200px;">
                                @Html.DisplayNameFor(model => model.RolesWithIsAssigned.FirstOrDefault().Name)
                            </th>
                            <th style="width:300px;">
                                @Html.DisplayNameFor(model => model.RolesWithIsAssigned.FirstOrDefault().Description)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.RolesWithIsAssigned.Count; i++) {
                            @if (Model.RolesWithIsAssigned[i].IsAssigned) {
                                <tr class="clickable">
                                    @Html.HiddenFor(m => Model.RolesWithIsAssigned[i].ID)
                                    <td>@Html.CheckBoxFor(m => Model.RolesWithIsAssigned[i].IsAssigned)</td>
                                    <td>@Html.DisplayFor(m => Model.RolesWithIsAssigned[i].Name)</td>
                                    <td>@Html.DisplayFor(m => Model.RolesWithIsAssigned[i].Description)</td>
                                </tr>
                            } else {
                                <tr class="clickable">
                                    @Html.HiddenFor(m => Model.RolesWithIsAssigned[i].ID)
                                    <td>@Html.CheckBoxFor(m => Model.RolesWithIsAssigned[i].IsAssigned)</td>
                                    <td>@Html.DisplayFor(m => Model.RolesWithIsAssigned[i].Name)</td>
                                    <td>@Html.DisplayFor(m => Model.RolesWithIsAssigned[i].Description)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="form-group">
                    <button class="btn btn-dark" type="submit">Update</button>
                </div>
            }
        </div>
    </div>

<div>
    <a href="@Url.Action("Index")">Back to List</a>
</div>

<script src="~/js/UserDetails/EditRolesOfUser.js"></script>




