@model TestMvcAdminApp.Models.PermissionsForRoleDTO

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Assign Permissions";
}

<h2>Assign Permissions to @Model.RoleName Role</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-12">
            @using (Html.BeginForm("EditPermissionsOfRole", "Roles", FormMethod.Post)) {
                @Html.HiddenFor(m => m.RoleName)
                <table class="table table-responsive table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width: 50px"></th>
                            <th>
                                @Html.DisplayNameFor(model => model.PermissionsWithIsAssigned.First().Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PermissionsWithIsAssigned.First().Description)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.PermissionsWithIsAssigned.Count; i++) {
                            @if (Model.PermissionsWithIsAssigned[i].IsAssigned) {
                                <tr class="clickable">
                                    @Html.HiddenFor(m => Model.PermissionsWithIsAssigned[i].ID)
                                    <td>@Html.CheckBoxFor(m => Model.PermissionsWithIsAssigned[i].IsAssigned)</td>
                                    <td>@Html.DisplayFor(m => Model.PermissionsWithIsAssigned[i].Name)</td>
                                    <td>@Html.DisplayFor(m => Model.PermissionsWithIsAssigned[i].Description)</td>
                                </tr>
                            } else {
                                <tr class="clickable">
                                    @Html.HiddenFor(m => Model.PermissionsWithIsAssigned[i].ID)
                                    <td>@Html.CheckBoxFor(m => Model.PermissionsWithIsAssigned[i].IsAssigned)</td>
                                    <td>@Html.DisplayFor(m => Model.PermissionsWithIsAssigned[i].Name)</td>
                                    <td>@Html.DisplayFor(m => Model.PermissionsWithIsAssigned[i].Description)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>
            }
        </div>
    </div>

</div>
<div>
    <a href="@Url.Action("Index")">Back to List</a>
</div>


