@model IEnumerable<TestMvcAdminApp.Models.RoleWithPermissions>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Roles";
}

<h2>Roles</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th style="width: 50%">
                Permission(s)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.Permissions.First().ID <= 0) {
                        <text><i>No permissions</i></text>
                    } else {
                        @String.Join(", ", item.Permissions.Select(permission => permission.Name).ToArray())
                    }
                </td>
                <td>
                    <a class="btn btn-info" href="Roles/@item.ID">Assign Permissions</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("CreateRole")" class="btn btn-primary">Create New</a>

<script src="~/js/Roles/EditPermissionsOfRole.js"></script>
